{% extends 'base.html' %}

{% block titulo %}
Eliminar postre
{% endblock %}

{% block contenido_que_cambia %}

<p>EL POSTRE QUE USTED HA SELECCIONADO PARA ELIMINAR ES EL SIGUIENTE:</p>

<h3>NOMBRE DEL POSTRE: {{object.name}}</h3>
<h5>DESCRIPCION: {{object.description}}</h5>
<h5>PRECIO: {{object.price}}</h5>

<p>Para eliminar el postre seleccionado, pulse el botón 'Eliminar'.</p>

<form action="" method="POST">
    {% csrf_token %}
    <p><input type="submit"value="Eliminar"></p>
</form>

{% endblock %}