{% extends "base.html" %}

{% block titulo %}

Postres

{% endblock %}

{% block contenido_que_cambia %} 
<div   style="margin-top:2rem; margin-left:7rem; margin-bottom:7rem ; display: flex; flex-direction: row; flex-wrap: wrap; max-width: 100vmin;
min-width: 80vmax">
        
{% for dessert in desserts %}

<div class="card" style="width: 18rem;; margin-left:2rem">
    <img src="https://img.freepik.com/foto-gratis/surtido-trozos-tarta_114579-30727.jpg?w=2000" class="card-img-top" alt="...">
    <div class="card-body" style="background-color:rgba(141, 102, 92)">
        <h5 class="card-title"> {{ dessert.name }}</h5>
        <p class="card-text">Precio ${{ dessert.price }}.
        <p></p>    {{dessert.description}}
        <p></p> {% if dessert.celiac == True %} Es apto para celiacos.{% else %} No es apto para celiacos. {%endif%}
        {% if request.user.is_authenticated and request.user.is_superuser %}
        <br><a href="/lunch/update_dessert/{{dessert.id}}/" class="btn btn-primary">EDITAR</a>
        <a href="/lunch/delete_dessert/{{dessert.id}}/" class="btn btn-danger">ELIMINAR</a>
        {% else %}
        {% endif %}
    </div>
</div>


    
    {% endfor %}

    {% endblock %}