{% extends 'base.html' %}

{% block titulo %}
Registro
{% endblock %}

{% block contenido_que_cambia %}
<center>
    <div style="margin-top:2rem"></div>
    
    <div class="card" style="width: 25rem; ">
      
      <div class="card-body" style="background-color:rgb(167, 164, 40)">
        <form action="" method="POST"  >            
        <table>
        {% csrf_token %}
        {{form.as_table}} 
    </table> 
        <p></p>
        <p><input type="submit"value="Registrate"></p>
      </form>
     
      <p style="color: red;">{{error}} </p>
      </div>
      </div>
    </div>   
  </center>
  
{% endblock %}