{% extends "base.html" %}

{% block titulo %}
Inicio
{% endblock %}

{% block contenido_que_cambia %}
<center>
    <div style="margin-top:2rem" >
    
    <div class="card" style="width: 30rem; ">
      
    <div class="card-body" style="background-color:rgb(167, 164, 40)">
             
       <h1> Quienes somos?</h1>
      <p>  Somos Nicolas Monroy, Nicolás Rodríguez y Osvaldo Cano.  </p>
        <h1>Que ofrecemos?</h1>
    <p>  La comida es un bien necesario que a todos nos gusta disfrutar ya sea en familia, con nuestros amigos o solos. A raíz de esto hemos decidido crear nuestro restaurante donde ofrecemos almuerzos y cenas para toda ocasión y de toda variedad.
    </p>
       <h1> MISIÓN.</h1>
        <p>Nuestro propósito:  brindarles la mejor experiencia con nuestro servicio de calidad, amabilidad y respeto.</p>
        
       <h1> Que puedes encontrar?</h1>
        <p> - Deliciosos almuerzos y cenas 
        - jugos naturales y refrescos gaseosos 
        - postres como acompañantes     
      </p>
    
      </div>
      </div>
       


</center>


    {% endblock %}