{% extends "base.html" %}

{% block titulo %}
Agregar comida/bebida
{% endblock %}

{% block contenido_que_cambia %}
<div class="card-body" style="background-color:rgb(97, 96, 22)">
<title></title><center> ¿Que comida desea agregar?</center><p></p>

<center>
<a class="btn btn-primary" href="/lunch/create_food/" role="button">Plato principal</a>
<a class="btn btn-primary" href="/lunch/create_drink/" role="button">Bebida</a>
<a class="btn btn-primary" href="/lunch/create_dessert/" role="button">Postre</a>

</center>

    
</div>

    {% endblock %}