{% extends 'base.html' %}

{% block titulo %}
Eliminar comida
{% endblock %}

{% block contenido_que_cambia %}
<center>
<div class="card" style="width: 25rem; ">
<div class="card-body" style="background-color:rgb(167, 164, 40)">
<p>EL PLATO QUE USTED HA SELECCIONADO PARA ELIMINAR ES EL SIGUIENTE:</p>

<h5>NOMBRE DEL PLATO: {{object.name}}.</h5>
<h5>DESCRIPCION: {{object.description}}</h5>
<h5>PRECIO: $ {{object.price}}</h5>

<p>Si está seguro que quiere eliminar la comida seleccionada, pulse el botón 'Eliminar'.</p>
<form action="" method="POST">
    {% csrf_token %}
    <p><input type="submit"value="Eliminar"></p>
</form>
</div>
</div>
</center>
{% endblock %}