{% extends "base.html" %}

{% block titulo %}

Comidas

{% endblock %}

{% block contenido_que_cambia %}

<div class="d-flex" style="margin-top:2rem; margin-left:7rem">

{% for food in foods %}

    <div class="card" style="width: 18rem;">
        <from  enctype = "multipart/from-data">
        <div class="card-body">
            <h5 class="card-title"> {{food.name}}</h5>
            <p class="card-text">Precio: ${{ food.price }}. </p>{{food.description}}
            <p></p> {% if food.celiac == True %} Es apto para celiacos.{% else %} No es apto para celiacos. {%endif%}
        </div>
    </div>


    
    {%endfor%}

    {% endblock %}