{% extends 'base.html' %}

{% block titulo %}
Eliminar bebida
{% endblock %}

{% block contenido_que_cambia %}
<center>
    <div class="card" style="width: 25rem; ">
<div class="card-body" style="background-color:rgb(167, 164, 40)">
<p>LA BEBIDA QUE USTED HA SELECCIONADO PARA ELIMINAR ES LA SIGUIENTE:</p>

<h5>NOMBRE DE LA BEBIDA: {{object.name}}.</h5>
<h5>PRECIO: $ {{object.price}}</h5>

<p>Para eliminar la bebida seleccionada, pulse el botón 'Eliminar'.</p>

<form action="" method="POST">
    {% csrf_token %}
    <p><input type="submit"value="Eliminar"></p>
</form>
</div>
</div>
</center>
{% endblock %}