{% extends "base.html" %}

{% block titulo %}

Bebidas

{% endblock %}

{% block contenido_que_cambia %}
<div class="d-flex" style="margin-top:2rem; margin-left:7rem"><
{% for drink in drinks %}

    <div class="card" style="width: 18rem;">
        <img src="https://us.123rf.com/450wm/monticello/monticello1804/monticello180400220/103002397-poznan-polonia-6-de-abril-de-2018-botellas-de-marcas-mundiales-de-refrescos-incluidos-productos-de-c.jpg?ver=6" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"> {{drink.name}}</h5>
            <p class="card-text">Esta bebida cuesta ${{drink.price}}.
            <p></p>     {{drink.description}}

        </div>
    </div>


    
    {%endfor%}

    {% endblock %}